@model Parametros.Models.VM.clsGestionVM

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Nueva Gestión</h3>
                </div>

                <div class="box-body">
                    @using (Html.BeginForm())
                    {
                        using (Html.DevExtreme().ValidationGroup())
                        {
                            @Html.AntiForgeryToken();

                            @(Html.DevExtreme().Form<Parametros.Models.VM.clsGestionVM>()
                                .ShowValidationSummary(true)
                                .Items(items =>
                                {

                                    items.AddGroup()
                                        .Items(nestedItems =>
                                        {
                                            nestedItems.AddSimpleFor(m => m.GestionNro).Editor(e => e.TextBox().Width("50%"));
                                            nestedItems.AddSimpleFor(m => m.GenerarPeriodo).Editor(e => e.CheckBox().Width("50%"));
                                            nestedItems.AddSimpleFor(m => m.GestionFecIni).Editor(e => e.DateBox().OnValueChanged("FecIni_Changed").DisplayFormat("dd/MM/yyyy").Width("100%"));
                                            nestedItems.AddSimpleFor(m => m.GestionFecFin).Editor(e => e.DateBox().DisplayFormat("dd/MM/yyyy").Width("100%"));
                                            nestedItems.AddSimpleFor(m => m.EstadoId).Editor(e => e.SelectBox().ID("dxEstado").DataSource(d => d.Mvc().Controller("ComboBox").LoadAction("EstadoList").Key("EstadoId")).ValueExpr("EstadoId").DisplayExpr("EstadoDes").Disabled(true));

                                        });

                                })
                                .FormData(Model)
                            )

                            <br>
                            <div Class="box-footer">
                                <Button type="submit" Class="btn btn-primary"><i Class="fa fa-floppy-o"></i></Button>
                                <a href="@Url.Action("Index", "Gestion")" Class="btn btn-default"><i Class="fa fa-reply"></i></a>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</section>

@(Html.Partial("~/views/Error/InfoPopup.cshtml"))

<script>

    function FecIni_Changed(data){
        var date = data.value;
    }

</script>