

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Gestion";
}

<section class="content">
    <div class="box-header with-border">

        <h3 class="box-title">Gestiones</h3>

        <div class="box-tools pull-right">
            <div class="has-feedback">
                <a class="btn btn-default btn-sm" href="@Url.Action("Create", "Gestion")"> <i class="glyphicon glyphicon-plus"></i></a>
                <a class="btn btn-default btn-sm" href="@Url.Action("Index", "Gestion")"> <i class="fa fa-refresh"></i></a>
                <a class="btn btn-default btn-sm" href="@Url.Action("Report", "Gestion")"> <i class="fa fa-print"></i></a>
            </div>
        </div>
    </div>

    @(Html.DevExtreme().DataGrid<Parametros.Models.VM.clsGestionVM>()
        .ID("gridContainer")
        .DataSource(d => d.Mvc().Controller("Gestion").LoadAction("GestionGrid").Key("GestionId"))
        .AllowColumnResizing(true)
        .ShowColumnLines(false)
        .ShowRowLines(true)
        .ShowBorders(true)
        .FilterRow(filterRow => filterRow.Visible(true).ApplyFilter(GridApplyFilterMode.Auto))
        .Sorting(sorting => sorting.Mode(GridSortingMode.Multiple))
        .Paging(p => p.PageSize(10))
        .Width("100%")
        .RowAlternationEnabled(true)
        .Selection(s => s.Mode(SelectionMode.Single))
        .Editing(e => e.Mode(GridEditMode.Row))
        .OnCellPrepared("onCellPrepared")
        .Columns(columns =>
        {
            columns.AddFor(m => m.GestionNro).Width(100).Alignment(HorizontalAlignment.Center);
            columns.AddFor(m => m.GestionFecIni).Format("dd/MM/yyyy").Width(300);
            columns.AddFor(m => m.GestionFecFin).Format("dd/MM/yyyy").Width(300);
            columns.AddFor(m => m.EstadoDes).Width(100);

            columns.Add().DataField("Edit").Caption("").Width(30).CellTemplate(Html.ActionLink(" ", "Edit", new { id = "GestionId" }, new { @class = "dx-icon-edit" }).ToHtmlString().Replace("GestionId", "<%= data.GestionId %>")).AllowFiltering(false);
            columns.Add().DataField("Delete").Caption("").Width(30).CellTemplate(Html.ActionLink(" ", "Delete", new { id = "GestionId" }, new { @class = "dx-icon-trash" }).ToHtmlString().Replace("GestionId", "<%= data.GestionId %>")).AllowFiltering(false);
            columns.Add().DataField("Details").Caption("").Width(30).CellTemplate(Html.ActionLink(" ", "Details", new { id = "GestionId" }, new { @class = "fa fa-info-circle" }).ToHtmlString().Replace("GestionId", "<%= data.GestionId %>")).AllowFiltering(false);
        })        
    )

</section>

<script>
    function onCellPrepared(e) {
        if (e.rowType === "header") {
            e.cellElement.addClass("columnHeaderCSS");
            e.cellElement.find("input").addClass("columnHeaderCSS");
        }
    }
</script>