@model IEnumerable<Parametros.Models.VM.clsDocumentoVM>

@{
    ViewBag.Title = "Index";
}
<section class="content">
    <div class="box-header with-border">

        <h3 class="box-title">Documentos </h3>

        <div class="box-tools pull-right">
            <div class="has-feedback">
                <a class="btn btn-default btn-sm" href="@Url.Action("Create", "Documento")"> <i class="glyphicon glyphicon-plus"></i></a>
                <a class="btn btn-default btn-sm" href="@Url.Action("Index", "Documento")"> <i class="fa fa-refresh"></i></a>
                <a class="btn btn-default btn-sm" href="@Url.Action("Report", "Documento")"> <i class="fa fa-print"></i></a>
            </div>
        </div>
    </div>

    @(Html.DevExtreme().DataGrid<Parametros.Models.VM.clsDocumentoVM>()
        .ID("gridContainer")
        .DataSource(Model, new string[] { "DocId" })
        .AllowColumnResizing(true)
        .ShowColumnLines(false)
        .ShowRowLines(true)
        .ShowBorders(true)
        .FilterRow(filterRow => filterRow.Visible(true).ApplyFilter(GridApplyFilterMode.Auto))
        .Sorting(sorting => sorting.Mode(GridSortingMode.Multiple))
        .Paging(p => p.PageSize(10))
        .Width("100%")
        .RowAlternationEnabled(true)
        .Selection(s => s.Mode(SelectionMode.Single))
        .Editing(e => e.Mode(GridEditMode.Row))
        .OnCellPrepared("onCellPrepared")
        .Columns(columns =>
        {
            columns.AddFor(m => m.DocCod).Width(100);
            columns.AddFor(m => m.DocNem).Width(200);
            columns.AddFor(m => m.DocDes).Width(200);

            columns.AddFor(m => m.ModuloDes).Width(100);
            columns.AddFor(m => m.AplicacionDes).Width(100);
           
            columns.AddFor(m => m.EstadoDes).Width(100);

            columns.Add().DataField("Edit").Caption("").Width(30).CellTemplate(Html.ActionLink(" ", "Edit", new { id = "DocId" }, new { @class = "dx-icon-edit" }).ToHtmlString().Replace("DocId", "<%= data.DocId %>")).AllowFiltering(false);
            columns.Add().DataField("Delete").Caption("").Width(30).CellTemplate(Html.ActionLink(" ", "Delete", new { id = "DocId" }, new { @class = "dx-icon-trash" }).ToHtmlString().Replace("DocId", "<%= data.DocId %>")).AllowFiltering(false);
            columns.Add().DataField("Details").Caption("").Width(30).CellTemplate(Html.ActionLink(" ", "Details", new { id = "DocId" }, new { @class = "fa fa-info-circle" }).ToHtmlString().Replace("DocId", "<%= data.DocId %>")).AllowFiltering(false);
        })
    )

</section>

<script>
    function onCellPrepared(e) {
        if (e.rowType === "header") {
            e.cellElement.addClass("columnHeaderCSS");
            e.cellElement.find("input").addClass("columnHeaderCSS");
        }
    }
</script>